{% extends "base.html" %}

{% block content %}
 <!-- contact section -->
 <div class="nav-waypoint">
 <section id="contact-section" class="contact-section parallax-section parallax-background">
 <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
  <div class="grid-container parallax-content">
    
          <!-- parallax header -->
          <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>Factura realizada</span></h2>
                    <p class="parallax-slogan"><span class="hero-btn"><a href="{{link}}" class="white-text">Descargar factura</a><span></p>
                </header>
            </div>
          <!-- close parallax header -->
          </div>
        </section><!-- close contact section -->

</div><!-- close nav-waypoint -->

<div>
	CAE: {{CAE}}
<br/>
	CAE2: {{CAE2}}
<br/>
	resultado: {{resultado}}
<br/>
	Ultimo comprobante: {{ultcomp}}
<br/>
	Resultado: {{res}}
<br/>
	ErrMsg : {{msg}}
<br/>
</div>


{% endblock %}


