{% extends "base.html" %}

{% block content %}
 <!-- contact section -->
 <div class="nav-waypoint">
 <section id="contact-section" class="contact-section parallax-section parallax-background">
 <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
  <div class="grid-container parallax-content center">
    
          <!-- parallax header -->
          <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>Facturación</span></h2>
                    <p class="parallax-slogan">Por favor leé con atención el detalle a facturar</p>
                </header>
            </div>
          <!-- close parallax header -->
		  
		   <div class="clear"></div>
		   
		  
          <div class="grid-100 mobile-grid-100 tablet-grid-100">
		 
		    
			<div class="grid-50 mobile-grid-50 tablet-grid-50">
            <ul>
              <li>Razon Social: {{datos.razon_social}}</li>
              <li>Domicilio: {{datos.direccion}}</li>
              <li>Localidad: {{datos.localidad}}</li>
              <li>Provincia: {{datos.provincia}}</li>
            </ul>
			</div>
			
			<div class="grid-50 mobile-grid-50 tablet-grid-50">
            <ul>
              <li>Pais: {{datos.pais}}</li>
              <li>Tipo de Iva: {{datos.tipo_iva}}</li>
              <li>CUIT: {{datos.cuit}}</li>
              <li>Tipo de Pago: {{pedido.tipo_pago}}</li>
            </ul>
			</div>

            <div class="grid-100 mobile-grid-100 tablet-grid-100">
              <table class="table">
			  <tbody>
                <tr>
                  <th width="25%">Detalle</th>
                  <th width="25%">Cantidad</th>
                  <th width="25%">Precio Unitario</th>
                  <th width="25%">Total</th>
                </tr>
                <tr>
                  <td width="25%">Plan {{pedido.plan.nombre}}</td>
                  <td width="25%">1</td>
                  <td width="25%">{{pedido.plan.total}}</td>
                  <td width="25%">{{pedido.plan.total}}</td>
                </tr>
                <tr class="info">
                  <td class="center-text" colspan="4">TOTAL A PAGAR: {{pedido.plan.total}}</td>
                </tr>
				</tbody>
              </table>
            </div>
            <button><a style="color:white" href="/users/facturar/{{pedido.id}}/">Facturar</a></button>
			
			</div>
  </div>
        </section><!-- close contact section -->

</div><!-- close nav-waypoint -->

{% endblock %}