{% extends "base.html" %}

{% block content %}
  	{% load staticfiles %}
  	<style type="text/css">
        #avatar{
            opacity:0;
            width: 120px;
            position:relative;
            z-index: 1000;
            cursor: pointer;
        }
        #avatar-container{
            cursor: pointer;
            position:relative;
            width: 130px;
            height: 20px;
        }
        #avatar-link{
            position: absolute;
            top:0;
            left:0;
            cursor: pointer;
        }
    </style>
    <!-- contact section -->
     <div class="nav-waypoint">
     <section id="contact-section" class="contact-section parallax-section parallax-background">
     <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
        
            	<!-- parallax header -->
            	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Perfil</span></h2>
                        <p class="parallax-slogan">Estos son los datos de tu cuenta</p>
                    </header>
                </div>
            	<!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
        	<div class="contact-wrap">
            
            <!-- contact form -->
            <div class="grid-parent grid-60 suffix-5 mobile-grid-100 tablet-grid-100">
            <div class="contact-form-holder clearfix">
            
            <!-- contact form -->
            <form id="profile-form" class="contact-form" method="POST" action="/users/updateUser/">
                {% csrf_token %}
                <div class="grid-100">    
                    <div class="grid-25 suffix-5">
                        {% if not user.external %}
                            <img id="avatar-image" src="{% static "users/img/visionar-avatar.jpg" %}" alt="you" />
                        {% else %}
                            <img id="avatar-image" src="{{user.external.thumb}}" alt="you" />
                        {% endif %}
                        <div id="avatar-container">
                            <input type="file" name="avatar" id="avatar">
                            <a id="avatar-link" href="#">Cambiar Imagen</a>
                        </div>
                        

                    </div>
                
                    
                <ul class="grid-70">
                	<li>Nombre</li>
                    <li><input id="first_name" class="first_name" type="text" name="first_name" value="{{user.first_name}}" placeholder="Nombre:"></li>
                    <li>{{messages.first_name}}</li>
                    <li>Apellido</li>
                    <li><input id="last_name" class="last_name" type="text" name="last_name" value="{{user.last_name}}" placeholder="Apellido"></li>
                    <li>{{messages.last_name}}</li>
                    <li>Empresa</li>
                    <li><input id="company" class="name" type="text" name="company" value="{{user.external.company}}" placeholder="Empresa:"></li>
                    <li>{{messages.company}}</li>
                    <li>Teléfono</li>
                    <li><input id="phone" class="phone" type="text" name="phone" value="{{user.external.phone}}" placeholder="Telefono:"></li>
                    <li>{{messages.phone}}</li>
                    <li>Contraseña</li>
                    <li><input id="password" type="password" name="password"></li>
                    <li>{{messages.password}}</li>
                    <li>Confirme Contraseña</li>
                    <li><input id="password_confirm" type="password" name="password_confirm"></li>
              	</ul>
                {% if update %}
                    <p>Datos actualizados con exito</p>
                {% else %}
                    <div style="text-align:right;"> <input id="send-btn" class="send-btn" type="submit" value="Guardar"></div>
                {% endif %}
                
                </div>   
              </form><!-- close contact form -->
                    
            </div>
            </div><!-- close contact-form-holder -->
            
            <div class="grid-parent grid-35 mobile-grid-100 tablet-grid-100">
            <div class="contact-message">
            	<div class="grid-100">
                	<p>Tenés dudas sobre el funcionamiento de nuestra webapp?</p>
                    <p><a href="http://visionar.nodall.com.ar/#contact-section" target="_blank"><i class="icon-envelope-alt"></i> Envíanos un mail</a> y consultanos</p>
                    {% for p in pedidos %}
                  
                      <div class="pedidos-item-cont">
                        <ul style="margin:0">
                        <li class="pedidos-item"><strong>Pedido: {{p.fecha}}</strong></li>
                        <li class="pedidos-item">Plan: {{p.plan}}</li>
                        <li class="pedidos-item">Estado de pago: {{p.payment_state}}</li>
                        <li class="pedidos-item">Factura: <a href="/media/facturas/pdf.pdf">Descargar</a></li>
                      </ul>
                      </div>
                  
                    {% endfor %}
            	</div>
            </div>
            </div><!-- close contact message -->
            
            
            </div>
            </div><!-- close contact wrap -->
            
            
		</div><!-- close container -->
	</section><!-- close contact section -->
    
	</div><!-- close nav-waypoint -->
    <script src="{% static "visionar/js/uploader.js" %}"></script>
    <script type="text/javascript">
       $(document).ready(function() {
            var up = new Uploader("/users/avatar/", {
                data:{
                    username: "{{user.username}}",
                },
                
                onChange : function(i){
                    $("#avatar-image").attr('src', '{% static "users/img/visionar-avatar.jpg" %}')
                },
                success: function(d, i){
                    $("#avatar-image").attr('src', d.thumb);
                },
                error: function(){

                },
            });

            $("#avatar").mouseover(function(event) {
                $("#avatar-link").css('color', 'black')
            }); 

            $("#avatar").mouseout(function(event) {
                $("#avatar-link").css('color', '#3498db')
            });


            $("#password_confirm").focusout(function(event) {
                var pass = $("#password").val();
                if(pass == $("#password_confirm").val()){
                    $("#send-btn").removeAttr('disabled');
                    $("#password_confirm").css("border-color", "transparent")
                }else{
                    $("#password_confirm").css("border-color", "#EE2200")
                    $("#password").css("border-color", "#EE2200")
                }

                if(!$("#password_confirm").val()){
                    $("#send-btn").removeAttr('disabled');
                    $("#password_confirm").css("border-color", "transparent")
                }
            });
            $("#password_confirm").focusin(function(event){
                $("#send-btn").attr('disabled', 'disabled')
                $("#password_confirm").css("border-color", "transparent")
            });

            $("#password").focusin(function(event){
                $("#send-btn").attr('disabled', 'disabled')
                $("#password").css("border-color", "transparent")
            });

            $("password").focusin(function(){
                if(!$("#password").val()){
                    $("#send-btn").removeAttr('disabled');
                    $("#password").css("border-color", "transparent")
                }
            });


      
  
        });
    </script>
{% endblock %}