{% extends "base.html" %}

{% block content %}
 <!-- contact section -->
 <div class="nav-waypoint">
 <section id="contact-section" class="contact-section parallax-section parallax-background">
 <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
	{% if not success %}
    <div class="grid-container parallax-content">
    
        	<!-- parallax header -->
        	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>Recuperación de contraseña</span></h2>
                   <!--  <p class="parallax-slogan">Ingresá tu nueva contraseña, para poder loguearte</p> -->
                </header>
            </div>
        	<!-- close parallax header -->
        
        <div class="clear"></div>
        
        <!-- contact wrap -->
        <div class="grid-100 mobile-grid-100 tablet-grid-100">
    	<div class="contact-wrap center">
        
        <!-- contact form -->
        <div class="grid-parent grid-45 mobile-grid-100 tablet-grid-100">
        <div class="contact-message">
      	
        
        <h3 class="grid-100">Ingresá tu nueva contraseña</h3>
        
        <!-- contact form -->
        <form id="login-form" method="POST" action="/users/recover_pass/" class="contact-form">
            {% csrf_token %}
        	<ul class="grid-100">
            	<li>Contraseña</li>
                <li><input id="password" type="password" name="password"></li>
                <li>Confirme Contraseña</li>
                <li><input id="password_confirm" type="password" name="password_confirm"></li>
                <li><input class="name" type="hidden" name="username" value="{{username}}"></li>
                <li><input class="name" type="hidden" name="key" value="{{key}}"></li>
                <li>{{message}}</li>
                <!-- <li><input class="password" type="password" name="password" placeholder="Nueva Password"></li> -->
        	</ul>

            <div class="grid-100">    
                <input id="send-btn" class="send-btn" disabled="disabled" type="submit" name="send-btn" value="enviar">
                <div class="success-message">El mensaje ha sido enviado!. Muchas gracias.</div>
                <div class="alert-message"></div>
                <div class="error-message">No se pudo enviar el mensaje. Por favor, intente más tarde.</div>
            </div>   
          </form><!-- close contact form -->
                
        </div>
        </div><!-- close contact-form-holder -->
        
        </div>
        </div><!-- close contact wrap -->
    </div><!-- close container -->
    {% else %}
        <div class="grid-container parallax-content">
    
            <!-- parallax header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>Recuperación de contraseña</span></h2>
                    <p class="parallax-slogan">Su contraseña ha sido modificada con éxito</p>
                </header>
            </div>
            <!-- close parallax header -->
        
        <div class="clear"></div>
        
        <!-- contact wrap -->
        <div class="grid-100 mobile-grid-100 tablet-grid-100">
        <div class="contact-wrap center">
        
        
        </div>
        </div><!-- close contact wrap -->
    </div><!-- close container -->
    {% endif %}
</section><!-- close contact section -->

</div><!-- close nav-waypoint -->

<script type="text/javascript">
    $(document).ready(function(){
        $("#password_confirm").focusout(function(event) {
            var pass = $("#password").val();
            if(pass == $("#password_confirm").val()){
                
                $("#send-btn").removeAttr('disabled');
                $("#password_confirm").css("border-color", "transparent")
            }else{
                $("#password_confirm").css("border-color", "#EE2200")
            }
        });
        $("#password_confirm").focusin(function(event){
            $("#password_confirm").css("border-color", "transparent")
        });
    });
</script>

{% endblock %}