{% extends "base.html" %}

{% block content %}
  	{% load staticfiles %}
  	<link rel="stylesheet" href="{% static "editor/css/project.css" %}">
	<style type="text/css">
		.soft-background{
			background-color: rgba(255,255,255, 0.6);
			padding: 20px;
			margin: 20px;
		}
		.project-show{
			margin: 25px;
			width: 120px;
		}
		.edit-project{
			padding: 10px;
			background-color: #FFF;
			margin-top: 10px;
		}
	</style>
<div class="nav-waypoint">
	<section id="contact-section" class="contact-section parallax-section parallax-background">
	<div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
			 <header class="parallax-header">
                <h2 class="parallax-title"><span>Video</span></h2>
            </header>
			<div class="clear"></div>
			<div class="soft-background">
				<h2>En proceso</h2>
				<div>
					{% for p in projects %}
					<div class="project-show">
						<img src="{{p.thumb}}">
						<a class="edit-project" href="/project/{{p.urlhash}}">EDITAR</a>
					</div>
					{% endfor%}
				</div>	
			</div>
			<div class="soft-background">
				<h2>Finalizados</h2>	
			</div>
			<div class="soft-background">
				<h2>Subidos</h2>	
			</div>
		</div>
	</section>
 </div>	

{% endblock %}