{% extends "base.html" %}
  {% block content %}
     {% load staticfiles %}
    <script type="application/javascript">
    	$(function () {
    	$('.popup-modal').magnificPopup({
    		type: 'inline',
    		preloader: false,
    		focus: '#username',
    		modal: true
    	});
    	$(document).on('click', '.popup-modal-dismiss', function (e) {
    		e.preventDefault();
    		$.magnificPopup.close();
    	});
    });
	</script>
    
<div class="nav-waypoint">
     <section id="contact-section" class="contact-section parallax-section parallax-background">
     <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
    <div class="grid-container parallax-content">
        
              <!-- parallax header -->
              <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Video Terminado</span></h2>
                        <p class="parallax-slogan">Felicitaciones! Tu proyecto está listo</p>
                    </header>
                </div>
              <!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
          <div class="contact-wrap">
            
            <!-- contact form -->
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- CAMPAÑAS 1 -->
            <ul class="breadcrumb">
                <li class="active">Paso 3 de 3</li>
            </ul>

 <div id="portfolio-section" class="portfolio-section clearfix suffix-top-5 videoprojects-box">
 
                <div class="grid-100">
                     <div class="grid-100">
                       <h3 class="grid-50">Vista previa</h3>
                     </div>
                     
                      <!-- portfolio box 1 -->
      <div class="grid-100 mobile-grid-100 tablet-grid-100">
              
              <div class="portfolio-box">
                {% if urls %}
                  <video controls preload="auto">
                    <source src="{{urls.webm}}" type="video/webm">
                    <source src="{{urls.mp4}}" type="video/mp4">
                    <source src="{{urls.ogg}}" type="video/ogv">
                  </video>
                {% else %}
                  <img src="{% static "visionar/images/rendering.jpg" %}">
                {% endif %}         
              </div>
              <a href="/project/{{project.urlhash}}"><i class="icon-large icon-edit"></i>&nbsp;Volve a editar tu video</a>
                
                <div id="tmpl01" class="mfp-hide">
                   <div class="modal-display">
                 <h2>Negocios</h2>
                 <p>Aquí va el player</p>
                   <p><a href="#">Publicar</a> • <a class="popup-modal-dismiss" href="#">Editar</a></p>
                   </div>
                </div>
               
      </div><!-- close portfolio -->

            
                     
                     
                </div>
            </div>
            
            {% if pedidos %}
            
            <div class="portfolio-section clearfix suffix-top-5 videoprojects-box">
              <div class="grid-100 mobile-grid-100 tablet-grid-100">
                <div class="grid-100">
                   <h3 class="grid-50">Pedidos</h3>
                 </div>
                {% for p in pedidos %}
                  
                  <div style="float:left;background-color: #eee; padding: 20px; margin-left:20px; color:#444">
                    <ul style="margin:0">
                    <li><strong>Pedido: {{p.fecha}}</strong></li>
                    <li>Plan: {{p.plan}}</li>
                    <li>Estado de pago: {{p.payment_state}}</li>
                    <li>Factura: <a href="/media/facturas/pdf.pdf">Descargar</a></li>
                  </ul>
                  </div>
                  
                {% endfor %}
              </div>
            </div>
            {% endif %}            
            <!-- /CAMPAÑAS 1 -->
            <div id="portfolio-section" class="portfolio-section clearfix suffix-top-5">
            <div class="grid-100">
                     <!--<div class="grid-100 center">
                       <h1 class="grid-50 center">Publique su Video</h1>
                       <span class="grid-50 center">Seleccione unos de nuestros planes de publicación</span>
                     </div>-->
                     
                     
      {% for plan in plans %}


        <!-- portfolio box 1 -->
        <div class="grid-25 mobile-grid-100 tablet-grid-100 center">
                 <ul class="list-group">
                    <li class="list-group-item-heading">Plan {{plan.nombre}}</li>
                    <li class="list-group-item"><strong>{{plan.pasadas_prime}}</strong> / Pasadas horario Prime</li>
                    <li class="list-group-item"><strong>{{plan.pasadas_normal}}</strong> / Pasadas horario Normal</li>
                    <li class="list-group-item"><strong>1 {{plan.contratacion_minima}}</strong> / Contratación Mínima</li>
                    <li class="list-group-item"><strong>{{plan.bonificacion}}%</strong> / Bonificación</li>
                    <li class="list-group-item"><strong>$ {{plan.costo}}</strong> / Costo</li>
                    <li class="list-group-item"><strong>$ {{plan.descuento}}</strong> / Descuento</li>
                    <li class="list-group-item"><strong>$ {{plan.total}}</strong> / Precio Final</li>
                    <li class="list-group-item"><button onclick="location.href='/users/publicar/{{plan.id}}/{{project.urlhash}}';">Pagar y Publicar</button></li>
                 </ul>
        </div><!-- close portfolio -->
            
      {% endfor %}     
	  
	                        <!-- portfolio box 1 -->
      <div class="grid-25 mobile-grid-100 tablet-grid-100 center">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Abierto</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Prime</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Normal</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Cuando</li>
                  <li class="list-group-item"><strong>Bonificación</strong> / Variable</li>
                  <li class="list-group-item"><strong>Costo</strong> / A Definir</li>
                  <li class="list-group-item"><a href="{% static "visionar/pdf/plan-abierto_grilla_principal.pdf" %}" target="_blank">Ver Detalles</a></li>
                  <li class="list-group-item"><strong>Precio a definir: Contáctenos!</strong></li>
                  <li class="list-group-item"><button>Pagar y Publicar</button></li>
               </ul>
      </div><!-- close portfolio -->
                     
                </div></div>
            
            </div><!-- close contact-form-holder -->
            
            
  </div>
  </div><!-- close contact wrap -->
  </div><!-- close container -->
  </section><!-- close contact section -->
    
  </div><!-- close nav-waypoint -->

{% endblock %}