{% extends "base.html" %}

{% block content %}
  	{% load staticfiles %}
  	
  	<link rel="stylesheet" href="{% static "editor/css/project.css" %}">
	<script type="text/javascript">
 		var _USER = "{{request.user}}"; 
 	</script>
 	<script src="{% static "visionar/js/vendor/jquery-ui-10.3.js" %}"></script>
 	<script src="{% static "visionar/js/vendor/shapeshift.js" %}"></script>
	<script src="{% static "visionar/js/uploader.js" %}"></script>
	<script src="{% static "editor/js/project.js" %}"></script>

 <div class="nav-waypoint">
	<section id="contact-section" class="contact-section parallax-section parallax-background">
	<div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
			 <header class="parallax-header">
                <h2 class="parallax-title"><span>Proyecto</span></h2>
                
            </header>
			<div class="clear"></div>
			<input type="button" value="guardar" id="save-project">
			<input type="button" value="vista previa" id="render">
			
			<button class="change-media" data-icon="camera" data-type="Imagen"><i class="icon-large icon-camera"></i></button>
			<button class="change-media" data-icon="font" data-type="Texto"><i class="icon-large icon-font"></i></button>
			
			
			<div id="files-cont" class="contact-message">
				<form id="files" >
					<div class="hippster">
					{% for m in media %}
						<div data-position="{{m.position}}" data-id="{{m.id}}" class="entry entry-filled">
							<img data-id="{{m.id}}" src="{{m.image.thumb}}"/>
						</div>	
					{% endfor %}

					<div data-mediatype="Imagen" class="entry">
						<input type="file" />
						<h3 class="file-input-inside"><i class='icon-large icon-camera'></i>Agregar Imagen</h3>
					</div>
					</div>
					
						
				</form>
				<br/>
				
			</div>
			<input type="button" value="eliminar" id="delete-media">
			<div class="clear"></div>
			<div id="video">
				
			</div>
			
			


		</div>
	</section>
 </div>	
<div id="debug">
	{{request.user}}
</div>	
{% endblock %}