{% extends "base.html" %}

{% block content %}
  	{% load staticfiles %}
  	
  	<link rel="stylesheet" href="{% static "editor/css/project.css" %}">
  	
	<script type="text/javascript">
 		var texts = 0;
 		{% for t in texts %}
 			texts++
 		{% endfor %}
 		console.log(texts)
 		var _USER = "{{request.user}}";
 		var _TEMPLATE_IMAGE_NUMBER = "{{project.template.image_number}}";
 		var _TEMPLATE_IMAGE_COUNT = "{{media|length}}"
 		var _TEMPLATE_TEXT_NUMBER = "{{project.template.text_number}}";
 		var _TEMPLATE_TEXT_COUNT = texts;
 	</script>
 	<script src="{% static "visionar/js/vendor/jquery-ui-10.3.js" %}"></script>
 	<script src="{% static "visionar/js/vendor/shapeshift.js" %}"></script>
 	
 	<script type="application/javascript">
	$(function () {
    	$('.popup-modal').magnificPopup({
    		type: 'inline',
    		preloader: false,
    		focus: '#username',
    		modal: true
    	});
    	$(document).on('click', '.popup-modal-dismiss', function (e) {
    		e.preventDefault();
    		$.magnificPopup.close();
    	});
    });
	</script>

	
	<script src="{% static "visionar/js/uploader.js" %}"></script>
	<script src="{% static "editor/js/project.js" %}"></script>

 <div class="nav-waypoint">
	<section id="contact-section" class="contact-section parallax-section parallax-background">
	<div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
			 <header class="parallax-header">
                <h2 class="parallax-title"><span>Proyecto</span></h2>
                <div id="project-title-box">
                	<p id="project-title" class="parallax-slogan">{{project.title}}</p>
               		<a id="change-title" class="popup-modal" href="#change-title-popup"><i class="icon-large icon-edit"></i></a>
              	</div>
                <div id="change-title-popup" class="mfp-hide">
                	<div class="modal-display">
						<h2>Cambiar título de proyecto</h2>
						<input type="text" id="change-title-field" value="{{project.title}}"/>
						<a id="save-title" class="popup-modal-dismiss" href="#">Listo</a></p>
                	</div>
                </div>
            
            </header>
			<ul class="breadcrumb">
                <li class="active">Paso 2 de 3</li>
            </ul>

			<div class="clear"></div>
			
			<button id="save-project"><a class="popup-modal" href="#save-project-popup">Guardar</a></button>
			
			<button style="padding:10px 0px" type="button" value="vista previa" id="render">
				
			<a style="color:white; padding:10px" class="popup-modal" href="#preview-button">Vista previa</a>
                
			</button>
			<div id="preview-button" class="mfp-hide">
               <div class="modal-display">
	               <h2>Vista Previa</h2>
	               <div id="video"></div>
	               <a class="popup-modal-dismiss" href="#">Cerrar</a></p>
               </div>
           </div>	

           <div id="save-project-popup" class="mfp-hide">
               <div class="modal-display">
	               <h2 id="save-project-tag">Guardando proyecto, por favor espere</h2>
	               <a id="close-save-project" class="popup-modal-dismiss" href="#">Cerrar</a></p>
               </div>
           </div>

			<!-- <button class="change-media" data-icon="camera" data-type="Imagen"><i class="icon-large icon-camera"></i></button>
			<button class="change-media" data-icon="font" data-type="Texto"><i class="icon-large icon-font"></i></button> -->
			
			
            <p style="float:right; margin: 15px 5px 0px 0px ">Template seleccionado: {{project.template.name}}</p>
            
			<div id="files-cont" class="contact-message">
				<form id="files" >
					<div class="hippster">
					{% for m in media %}
						<div data-position="{{m.position}}" data-id="{{m.id}}" class="entry entry-filled">
							<img data-id="{{m.id}}" src="{{m.image.thumb}}"/>
						</div>	
					{% endfor %}

					<div data-mediatype="Imagen" class="entry">
						<input type="file" />
						<h4><span id="image-number">{{media|length}}</span>/{{project.template.image_number}}</h4>
						<h3 class="file-input-inside"><i class='icon-large icon-camera'></i>Agregar Imagen</h3>
					</div>
					</div>
				</form>
				<br/>
			</div>
			<br/>
			<div class="contact-message">
				<div id="add-text-box" class="shift-text">
					{% if texts %}
					{% for t in texts %}
						<div data-text="{{t}}" class='entry entry-text dragable'>
							<p>{{t}}</p>
						</div>	

					{% endfor %}
					{% endif %}
					<div id="add-text" data-mediatype="Text"  class="popup-modal entry" href="#add-text-popup">
						<h4><span id="add-text-number">0</span>/{{project.template.text_number}}</h4>
						<h3 class="text-input-inside"><i class='icon-large icon-font'></i>Agregar Texto</h3>
					</div>
					
				</div>
				<div id="add-text-popup" class="mfp-hide">
						<div class="modal-display">
							<h2>Ingrese el Texto</h2>
							<input type="text" id="add-text-field">
							<p><a id="add-text-button" class="popup-modal-dismiss" href="#">Ok</a>   •  
							<a class="popup-modal-dismiss" href="#">Cerrar</a></p>
						</div>
					</div>
				<br/>
				<div id="add-text-popup-disabled" class="mfp-hide">
					<div class="modal-display">
						<h2>Limite de Texto alcanzado</h2>
						<a class="popup-modal-dismiss" href="#">Cerrar</a></p>
					</div>
				</div>
				<div id="add-image-popup-disabled" class="mfp-hide">
					<div class="modal-display">
						<h2>Limite de Texto alcanzado</h2>
						<a class="popup-modal-dismiss" href="#">Cerrar</a></p>
					</div>
				</div>
			</div>
			<input type="button" value="eliminar" id="delete-media">
			<a style="float:right" href="/project/checkout/{{project.urlhash}}"><button> Finalizar</button></a>
			<div class="clear"></div>
			
		</div>
	</section>
 </div>	
<div id="debug">
	{{request.user}}
</div>	
{% endblock %}