<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Visionar Media Rental</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/reset.css" media="all">
    <link rel="stylesheet" href="css/ut-fontface.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" media="all">
	<link rel="stylesheet" href="css/flexslider.css" media="all">
    <link rel="stylesheet" href="css/magnific-popup.css" media="all">
    <link rel="stylesheet" href="css/ut-responsive-grid.css" media="all">
    <link rel="stylesheet" href="css/color.css" media="all">
    <link rel="stylesheet" href="css/style.css" media="all">
    
    
     <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
    
   <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
	<style>.hero .hero-holder {
		margin-left:-410px;
	}
	</style>
    <![endif]-->
    
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" href="css/ie.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
    <script src="js/SmoothScroll.js"></script>
	<script src="js/modernizr.js"></script>
    <script src="js/device.min.js"></script>
    <script type="application/javascript">
	$(function () {
	$('.popup-modal').magnificPopup({
		type: 'inline',
		preloader: false,
		focus: '#username',
		modal: true
	});
	$(document).on('click', '.popup-modal-dismiss', function (e) {
		e.preventDefault();
		$.magnificPopup.close();
	});
});
	</script>
    
</head>

<body id="mainsite">

     <!-- header section -->
	<header id="header-section" class="ha-header">
    	<div class="grid-container">
				<div class="ha-header-perspective">
					<div class="ha-header-front">
                    <div class="grid-20 tablet-grid-20 hide-on-mobile">
						<h1 class="logo"><a href="#top"><img src="images/logo.png" alt="logo"></a></h1>
                        </div>
						<nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
                        	<a href="perfil.html"><i class="icon-user"></i> User</a>
							<a href="videoproyectos.html">Videoproyectos</a>
                            <a href="tarifas.html">Tarifas</a>
                            <a href="campanias.html">Campañas</a>
                            <a href="#"><b>Logout</b></a>
						</nav>
					</div>
				</div><!-- close .ha-header-perspective --> 
        </div><!-- close grid container -->  
    </header><!-- close header -->
	
	
     <!-- contact section -->
     <div class="nav-waypoint">
     <section id="contact-section" class="contact-section parallax-section parallax-background">
     <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
        
            	<!-- parallax header -->
            	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Video Terminado</span></h2>
                        <p class="parallax-slogan">Felicitaciones! Tu proyecto está listo: Mirá el preview y publicá!</p>
                    </header>
                </div>
            	<!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
        	<div class="contact-wrap">
            
            <!-- contact form -->
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- CAMPAÑAS 1 -->
            <ul class="breadcrumb">
                <li class="active">Paso 3 de 3</li>
            </ul>

 <div id="portfolio-section" class="portfolio-section clearfix suffix-top-5 videoprojects-box">
 
                <div class="grid-100">
                     <div class="grid-100">
                       <h3 class="grid-50">Preview</h3>
                     </div>
                     
                      <!-- portfolio box 1 -->
			<div class="grid-100 mobile-grid-100 tablet-grid-100">
            	
            	<div class="portfolio-box">
                <a class="popup-modal" href="#tmpl01">
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p1.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Negocios<span class="portfolio-category">Ideal para empresas de finanzas</span></h3>
                </div><!-- close portfolio caption -->
                </a>           
                </div>
                <a href="#"><i class="icon-large icon-edit"></i>&nbsp;Seguir Editando</a>
                
                <div id="tmpl01" class="mfp-hide">
                   <div class="modal-display">
	               <h2>Negocios</h2>
	               <p>Aquí va el player</p>
                   <p><a href="#">Publicar</a> • <a class="popup-modal-dismiss" href="#">Editar</a></p>
                   </div>
                </div>
               
			</div><!-- close portfolio -->

            
                     
                     
                </div>
            </div>
            <!-- /CAMPAÑAS 1 -->
            <div id="portfolio-section" class="portfolio-section clearfix suffix-top-5">
            <div class="grid-100">
                     <!--<div class="grid-100 center">
                       <h1 class="grid-50 center">Publique su Video</h1>
                       <span class="grid-50 center">Seleccione unos de nuestros planes de publicación</span>
                     </div>-->
                     
                      <!-- portfolio box 1 -->
			<div class="grid-25 mobile-grid-100 tablet-grid-100 center">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Abierto</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Prime</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Normal</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Cuando</li>
                  <li class="list-group-item"><strong>Bonificación</strong> / Variable</li>
                  <li class="list-group-item"><strong>Costo</strong> / A Definir</li>
                  <li class="list-group-item"><a href="pdf/plan-abierto_grilla_principal.pdf" target="_blank">Ver Detalles</a></li>
                  <li class="list-group-item"><strong>Precio a definir: Contáctenos!</strong></li>
                  <li class="list-group-item"><button>Pagar y Publicar</button></li>
               </ul>
			</div><!-- close portfolio -->
                     
                      <!-- portfolio box 1 -->
			<div class="grid-25 mobile-grid-100 tablet-grid-100 center">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Silver</li>
                  <li class="list-group-item"><strong>60</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>60</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>0%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 1.080</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 0</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 1.080</strong> / Precio Final</li>
                  <li class="list-group-item"><button>Pagar y Publicar</button></li>
               </ul>
			</div><!-- close portfolio -->
            
           <div class="grid-25 mobile-grid-100 tablet-grid-100">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Gold</li>
                  <li class="list-group-item"><strong>90</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>100</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>3%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 2.520</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 75,60</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 2.444,40</strong> / Precio Final</li>
                  <li class="list-group-item"><button>Pagar y Publicar</button></li>
               </ul>
			</div><!-- close portfolio -->
            
           <div class="grid-25 mobile-grid-100 tablet-grid-100">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Platinum</li>
                  <li class="list-group-item"><strong>100</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>0</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>5%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 3.2400</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 162</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 3.078</strong> / Precio Final</li>
                  <li class="list-group-item"><button>Pagar y Publicar</button></li>
               </ul>
			</div><!-- close portfolio -->
                     
                </div></div>
            
            </div><!-- close contact-form-holder -->
            
            
            </div>
            </div><!-- close contact wrap -->
            
            
		</div><!-- close container -->
	</section><!-- close contact section -->
    
	</div><!-- close nav-waypoint -->
    
        <div class="clear"></div>
    
	<!-- Footer Section -->
	<footer class="footer">
	<a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    	<div class="grid-container">
			<div class="grid-100 mobile-grid-100 tablet-grid-100">
                <h3><img src="images/logo.png" alt="logo" width="120"></h3>
                <span class="copyright">Copyright 2013</span>
         	</div>
		</div><!-- close container -->
	</footer><!-- close footer -->
	
	    <!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
   	<script src="js/jquery.custom.js"></script>
    
<!-- End Document
================================================== -->

</body>
</html>
