
<!DOCTYPE html>
<html lang="en">

<head>
   
    {% load staticfiles %}
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Visionar Media Rental</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{% static "visionar/css/reset.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/ut-fontface.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/font-awesome.css" %}" media="all">
	<link rel="stylesheet" href="{% static "visionar/css/flexslider.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/magnific-popup.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/ut-responsive-grid.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/color.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/style.css" %}" media="all">
    <link rel="stylesheet" href="{% static "visionar/css/amenu.css" %}" media="all">
    <link href="http://vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
    
     <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
    
   <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
	<style>.hero .hero-holder {
		margin-left:-410px;
	}
	</style>
    <![endif]-->
    
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" href="css/ie.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href= "{% static "visionar/images/favicon.ico" %}">
	<link rel="apple-touch-icon" href= "{% static "visionar/images/apple-touch-icon.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href= "{% static "visionar/images/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "visionar/images/apple-touch-icon-114x114.png" %}">

	<!-- Load jQuery	
  	================================================== -->
  	<script src="{% static "visionar/js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "visionar/js/vendor/SmoothScroll.js" %}"></script>
	<script src="{% static "visionar/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "visionar/js/vendor/device.min.js" %}"></script>
    <script src="{% static "visionar/js/csrf.js" %}"></script>


 	<!-- Menu and Submenu	
  	================================================== -->  
  	<script src="{% static "visionar/js/amenu.js" %}"></script>
    <script language="JavaScript">
        $(document).ready(function(){
			$('#amenu-list').amenu({
				'speed': 90,
				'animation': 'fade'
			});
        });
    </script>
 	
</head>

<body id="mainsite">
<a id="top" style="position: relative;"></a>
	<!-- SI EL USUARIO ESTA LOGUEADO -->
	{% if user.is_authenticated %}
		
		<!-- header section NO LOGIN-->
		<header id="header-section" class="ha-header ha-header-small">
	    	<div class="grid-container">
					<div class="ha-header-perspective">
						<div class="ha-header-front">
	                    <div class="grid-20 tablet-grid-20 hide-on-mobile">
							<h1 class="logo"><a href="/"><img src="{% static "visionar/images/logo.png" %}" alt="logo"></a></h1>
	                        </div>
	                            {% if isHome %}   
	                               <nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
									
											<ul id="amenu-list">
									        <li><a href="/users/profile"><i class="icon-user"></i>&nbsp;{{request.user}}</a></li>
									        <li><a href="/create/">Crear Video</a></li>
								            <li><a href="/users/video">Videoproyectos</a></li>
								            <li><a href="/prices/">Tarifas</a></li>
								            
								            <li>
									            <a href="#top">Info</a>
									            <ul>
                     					            <li><a href="#team-section">Webapp</a></li>
                     					            <li><a href="#service-section">Servicios</a></li>
                     					            <li><a href="#about-section">Nosotros</a></li>
                     					            <li><a href="#portfolio-section">Pantallas</a></li>
                     					            <li><a href="#contact-section">Contacto</a></li>
									            </ul>
								            </li>
                                            <li><a href="/users/logout">Logout</a></li>
							            </ul>
							            
							        </nav>
								{% else %}
									<nav class="grid-80 tablet-grid-80 hide-on-mobile">
									
											<ul id="amenu-list">
									        <li><a href="/users/profile"><i class="icon-user"></i>&nbsp;{{request.user}}</a></li>
									        <li><a href="/create/">Crear Video</a></li>
								            <li><a href="/users/video">Videoproyectos</a></li>
								            <li><a href="/prices/">Tarifas</a></li>
								            
								            <li>
									            <a href="#top">Info</a>
									            <ul>
                     					            <li><a href="/#team-section">Webapp</a></li>
                     					            <li><a href="/#service-section">Servicios</a></li>
                     					            <li><a href="/#about-section">Nosotros</a></li>
                     					            <li><a href="/#portfolio-section">Pantallas</a></li>
                     					            <li><a href="/#contact-section">Contacto</a></li>
									            </ul>
								            </li>
                                            <li><a href="/users/logout">Logout</a></li>
							            </ul>
							            
							        </nav>
								{% endif %}
						</div>
					</div><!-- close .ha-header-perspective --> 
	        </div><!-- close grid container -->  
	    </header><!-- close header -->
		{% else %}
		
		<!-- header section ON LOGIN-->
		<header id="header-section" class="ha-header">
	    	<div class="grid-container">
					<div class="ha-header-perspective">
						<div class="ha-header-front">
	                    <div class="grid-20 tablet-grid-20 hide-on-mobile">
							<h1 class="logo"><a href="#top"><img src="{% static "visionar/images/logo.png" %}" alt="logo"></a></h1>
	                        </div>
							<nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
	                        	
	                        	<a class="selected" href="#top">Home</a>
	                        	<a href="#team-section">WebApp</a>
	                        	<a href="#service-section">Servicios</a>
	                            <a href="#about-section">Nosotros</a>
								<a href="#portfolio-section">Pantallas</a>
	                            <a href="#contact-section">Contacto</a>
	                            <a href="/users/login/">Login/Signup</a>
							</nav>
						</div>
					</div><!-- close .ha-header-perspective --> 
	        </div><!-- close grid container -->  
	    </header><!-- close header -->
		{% endif %}
	
	{% block content %}
        <h1>No content set</h1>
    {% endblock %}
    
    <div class="clear"></div>
    
	<!-- Footer Section -->
	<footer class="footer">
	<a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    	<div class="grid-container">
			<div class="grid-100 mobile-grid-100 tablet-grid-100">
                <h3><img src="{% static "visionar/images/logo.png" %}" alt="logo" width="120"></h3>
                <span class="copyright">Copyright 2013</span>
         	</div>
		</div><!-- close container -->
	</footer><!-- close footer --> 
	
	    <!-- Load Javascript
  	================================================== -->
    <script src= "{% static "visionar/js/vendor/jquery.mb.YTPlayer.js" %}"></script>
    <script src= "{% static "visionar/js/vendor/jquery.flexslider-min.js" %}"></script>
    <script src= "{% static "visionar/js/vendor/jquery.parallax.min.js" %}"></script>
    <script src= "{% static "visionar/js/vendor/jquery.scrollTo.min.js" %}"></script>
	<script src= "{% static "visionar/js/vendor/waypoints.min.js" %}"></script>
	<script src= "{% static "visionar/js/vendor/jquery.magnific-popup.min.js" %}"></script>
   	<script src= "{% static "visionar/js/vendor/jquery.custom.js" %}"></script>
   	<script src="http://vjs.zencdn.net/4.2/video.js"></script>
    
<!-- End Document
================================================== -->

</body>
</html>
