{% extends "base.html" %}
    {% block content %}
    {% load staticfiles %}
	
	<script type="application/javascript">
	$(function () {
		$('.popup-modal').magnificPopup({
			type: 'inline',
			preloader: false,
			focus: '#username',
			modal: true
		});
		$(document).on('click', '.popup-modal-dismiss', function (e) {
			e.preventDefault();
			$.magnificPopup.close();
		});
	});
	</script>
	
	<!-- contact section -->
     <div class="nav-waypoint">
     <section id="contact-section" class="contact-section parallax-section parallax-background">
     <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
    <div class="grid-container parallax-content">
        
              <!-- parallax header -->
              <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Tarifas</span></h2>
                        <p class="parallax-slogan">Conocé nuestros planes y precios para publicar tus avisos en nuestras pantallas de led.</p>
                        <p class="parallax-slogan">De Lunes a Domingo, de 6:00 AM a las 0:00.</p>
                    </header>
                </div>
              <!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
          <div class="contact-wrap">
            
            <!-- contact form -->
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- CAMPAÑAS 1 -->

 <div id="portfolio-section" class="portfolio-section clearfix suffix-top-5"><!--videoprojects-box-->
 
                <div class="grid-100">
                     <!--<div class="grid-100 center">
                       <h1 class="grid-50 center">Publique su Video</h1>
                       <span class="grid-50 center">Seleccione unos de nuestros planes de publicación</span>
                     </div>-->
                     
            <!-- portfolio box 1 -->
      <div class="grid-25 mobile-grid-100 tablet-grid-100 center">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Abierto</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Prime</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Pasadas Normal</li>
                  <li class="list-group-item"><strong>Usted elige</strong> / Cuando</li>
                  <li class="list-group-item"><strong>Bonificación</strong> / Variable</li>
                  <li class="list-group-item"><strong>Costo</strong> / A Definir</li>
                  <li class="list-group-item"><a href="pdf/plan-abierto_grilla_principal.pdf" target="_blank">Ver Detalles</a></li>
                  <li class="list-group-item"> <a class="popup-modal" href="#planAbierto"><strong>Precio a definir: Contáctenos!</strong></a></li>
               </ul>
               
               <div id="planAbierto" class="mfp-hide">
                   <div class="modal-display">
                 <h2>¿Tiene interés en el Plan Abierto?</h2>
                 <p>Puede enviarnos un mail o contactarse telefónicamente:</p>
                   <p><a href="mailto:ventas@visionar.com?Subject=Consulta Plan Abierto">ventas@visionar.com.ar</a> • 0-800-VISIONAR</p>
                   <p>&nbsp;</p>
                   <p><a class="popup-modal-dismiss" href="#">Cerrar</a></p>
                   </div>
                </div>   
      </div><!-- close portfolio -->
                     
                      <!-- portfolio box 1 -->
      <div class="grid-25 mobile-grid-100 tablet-grid-100 center">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Silver</li>
                  <li class="list-group-item"><strong>60</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>60</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>0%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 1.080</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 0</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 1.080</strong> / Precio Final</li>
               </ul>
      </div><!-- close portfolio -->
            
           <div class="grid-25 mobile-grid-100 tablet-grid-100">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Gold</li>
                  <li class="list-group-item"><strong>90</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>100</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>3%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 2.520</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 75,60</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 2.444,40</strong> / Precio Final</li>
               </ul>
      </div><!-- close portfolio -->
            
           <div class="grid-25 mobile-grid-100 tablet-grid-100">
               <ul class="list-group">
                  <li class="list-group-item-heading">Plan Platinum</li>
                  <li class="list-group-item"><strong>100</strong> / Pasadas horario Prime</li>
                  <li class="list-group-item"><strong>0</strong> / Pasadas horario Normal</li>
                  <li class="list-group-item"><strong>1 Mes</strong> / Contratación Mínima</li>
                  <li class="list-group-item"><strong>5%</strong> / Bonificación</li>
                  <li class="list-group-item"><strong>$ 3.240</strong> / Costo</li>
                  <li class="list-group-item"><strong>$ 162</strong> / Descuento</li>
                  <li class="list-group-item"><strong>$ 3.078</strong> / Precio Final</li>
               </ul>
      </div><!-- close portfolio -->
            
             <div class="grid-100 mobile-grid-100 tablet-grid-100">
              <ul class="list-group">
             <li class="list-group-item"><strong>Horario Prime Time:</strong> de 7 a 9 / de 11 a 13 / de 17 a 21</li>
             <li class="list-group-item"><strong>Horario Normal:</strong> de 6 a 7 / de 9 a 11 / de 13 a 17 / de 21 a 24</li>
             </ul>
             </div>
                     
                </div>
            </div>
            <!-- /CAMPAÑAS 1 -->
            
            </div><!-- close contact-form-holder -->
            
            
            </div>
            </div><!-- close contact wrap -->
            
            
    </div><!-- close container -->
  </section><!-- close contact section -->
    
  </div><!-- close nav-waypoint -->
    
        <div class="clear"></div>
    
{% endblock %}